.alarm-square
{
    width: 200px;
    height: 100px;
    background: #337ab7;
    border-radius: 10px;
}

.title-box {
    border-top: 10px solid #337ab7 ;
    border-bottom: 10px solid #337ab7;
    background-color: white;
    opacity: .80;
    padding-bottom: 5px;
}

.gradient {
    /* webkit example */
    background-image: -webkit-gradient(
            linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
            to(rgba(255, 255, 255, 0))
    );
}